{% extends "base.html.twig" %}
    {% block body %}
    <head>
        <style>
        img {
            width: 100%;
        }
        }
        </style>
    </head>
    
    <body>
        <img src="CV.png">
    </body>
    {% endblock %}