{% extends "base.html.twig" %}

{% block stylesheets %}
<style>

</style>
{% endblock %}

{% block body %}
      <img src="photo_accueil.jpg" class="responsive" width="600" height="400">
              <h1 style="font-size:2vw;"> Alexis BAROU R&T 1ère année - IUT Roanne - alexis.barou@etu.univ-st-etienne.fr</h1>
            <div class="container">
					<h2 style="font-size:1.7vw;"> Titulaire d'un bac STI2D avec mention "bien", passionné de nouvelles technologies, je suis curieux, à l'écoute et pleinement disposé à toujours donner le meilleur 
						de moi même.
						En intégrant l'IUT "Réseaux et Télécomunications", j'ai la change d'évoluer dans un environnement qui me convient parfaitement à travers l'acquisition de solides 
						connaissances opérationnelles.
					</h2>
				
          </div>
      </div>
{% endblock %}